<!DOCTYPE html>
<html>
  <head>
    <title>CMS</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>
    <%= yield %>
    <% if session[:user] %>
      Signed in as <%= session[:user] %>.
      <form style="display: inline;" method="post" action="/users/signout">
        <button>Sign Out</button>
      </form>
    <% end %>
  </body>
</html>