<form action="/new" method="POST">
  <label for="new_file">Add a new document:</label>
  <div>
    <input id="new_file" type="text" name="new_filename">
    <input type="submit" value="Create:">
  </div>
</form>